frontend/.DS_Store
frontend/node_modules/
frontend//dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Created by https://www.toptal.com/developers/gitignore/api/vue
# Edit at https://www.toptal.com/developers/gitignore?templates=vue

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
frontend/docs/_book

# TODO: where does this rule come from?
frontend/test/

# End of https://www.toptal.com/developers/gitignore/api/vue

# Created by https://www.toptal.com/developers/gitignore/api/vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

frontend/node_modules/
frontend/dist/
frontend/npm-debug.log
frontend/yarn-error.log

# End of https://www.toptal.com/developers/gitignore/api/vuejs

# Created by https://www.toptal.com/developers/gitignore/api/serverless
# Edit at https://www.toptal.com/developers/gitignore?templates=serverless

### Serverless ###
# Ignore build directory
backend/.serverless
backend/node_modules

# End of https://www.toptal.com/developers/gitignore/api/serverless
